﻿   body {
    font: 10pt sans-serif; /* Шрифт на веб-странице */
    background: #8fa09b; /* Цвет фона */
    margin: 0; /* Убираем отступы */
   }
   h1 {
    font-size: 2em; /* Размер шрифта */
    color: #fff; /* Цвет текста */
    margin-bottom: 1px; /* Отступ снизу */
   }

   h3 {
    font-size: 1.1em; /* Размер шрифта */
    color: #752641; /* Цвет текста */
    margin-bottom: 1cm; /* Отступ снизу */
   }
  
   #container {
    width: 100%; /* Ширина макета */
    margin: 0 ; /* Выравниваем по центру */
    background: #f0f0f0; /* Цвет фона правой колонки */ 
   }
   #header {
    text-align:center;	
    background: #54ae3c url('images/images.jpg') no-repeat; /* Цвет фона */
    font-size: 20pt; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    color: #edeed5; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */

   }
   #content {
    text-align: center;
    float: left; /* Обтекание по правому краю */
    width: 80%; /* Ширина левой колонки */
    padding: 10px; /* Поля вокруг текста */
    border-right: 0px dashed #183533; /* Линия справа */
    background: #fff; /* Цвет фона левой колонки */
   }
   #content p {
    margin-top: 0.3em /* Отступ сверху */
   }
   #menu {

    float: left; /* Обтекание по правому краю */
    width: 10%; /* Ширина */
    padding: 10px; /* Отступы вокруг текста */
   }
   #footer {
    background: #8fa09b; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: both;
   }
  
